KAIGORA_API_KEY=YOUR_KAIGORA_API_KEY_HERE
# Currently only support Gemini, more updates will come soon...
# Using a different LLM will require updating the get_llm_analysis() function and import appropriate modules in main.py
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
POLYGON_API_KEY=YOUR_POLYGON_API_KEY_HERE
# FINNHUB_API_KEY Not used for now, will update later
FINNHUB_API_KEY=YOUR_FINNHUB_API_KEY_HERE
LOCAL_DB_PATH=./data/